# Question 1

Write a function to print "hello_USERNAME!" USERNAME is the input of the function. The first line of the code has been defined as below.

In [32]:
def hello_name(user_name):
    print(F'hello {user_name.title()}')

hello_name('shawn')

hello Shawn

# Question 2

Write a python function, first_odds that prints the odd numbers from 1-100 and returns nothing

In [40]:
def first_odds():
    for num in range(1,100,2):
        print(num)
        
first_odds()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Question 3

Please write a Python function, max_num_in_list to return the max number of a given list. The first line of the code has been defined as below.

In [49]:
 def max_num_in_list(a_list):
        list1 = [1,2,3,4,5,6,7,8,9,10,11,12]
        m_list = max(list1)
        print(m_list)
        
max_num_in_list('m_list')

12

# Question 4

Write a function to return if the given year is a leap year. A leap year is divisible by 4, but not divisible by 100, unless it is also divisible by 400. The return should be boolean Type (true/false).

In [59]:
def is_leap_year(a_year):
    if a_year % 4 == 0 and a_year % 400 == 0 :
        print(F'{a_year} is a leap year')
        return True
    else:
        print(F'{a_year} is not a leap year')
        return False
        
is_leap_year(1600)

1600 is a leap year

True

# Question 5

Write a function to check to see if all numbers in list are consecutive numbers. For example, [2,3,4,5,6,7] are consecutive numbers, but [1,2,4,5] are not consecutive numbers. The return should be boolean Type.

In [75]:
def is_consecutive(a_list):
    list1=[1,2,5,8]
    list2 = list1[0:-1]
    for num in list1:
        if num += 1:
        return True
    
is_consecutive('list2')

SyntaxError: invalid syntax (2194593436.py, line 5)